<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vlille.checker"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Supports >= android 2.1 -->
    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="15"/>

    <application
        android:name=".VlilleChecker"
		android:label="@string/app_name"
        android:icon="@drawable/logo"
        android:theme="@style/MainTheme"
        >

        <!-- ACRA Activity -->
		<activity android:name="org.acra.CrashReportDialog"
	        android:theme="@android:style/Theme.Dialog"
	        android:launchMode="singleInstance"
	        android:excludeFromRecents="true"
	        android:finishOnTaskLaunch="true" />        
        
        <!-- Home Activity -->
        <activity
            android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<!-- Home settings Activity -->
        <activity
            android:name=".activity.HomePreferenceActivity"
            android:label="@string/app_name"
    		android:theme="@style/MainTheme" />
        
        <!-- Select Stations Activity -->
        <activity
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:name=".activity.SelectStationsActivity"
            android:theme="@style/MainTheme">
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
                 <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SelectStationsActivity" />
        </activity>
        
		<!-- Maps Activity -->
         <activity
           	android:name=".activity.MapsActivity"
           	android:label="@string/app_name"
    		android:theme="@style/MainTheme">
		</activity>
		
		<!-- Localisation Maps Activity -->
         <activity
           	android:name=".activity.LocationMapsActivity"
           	android:label="@string/app_name"
    		android:theme="@style/MainTheme">
		</activity>
		
		<!-- Localisation Maps Preferences Activity -->
        <activity
            android:name=".activity.LocationMapsPreferenceActivity"
            android:label="@string/app_name"
    		android:theme="@style/MainTheme" />         
		
		<!-- About Activity -->
         <activity
           	android:name=".activity.AboutActivity"
           	android:label="@string/app_name"
    		android:theme="@style/MainTheme">
		</activity>
        
		<!-- Provides search suggestions for words and their definitions. -->
        <provider
            android:name=".stations.provider.StationsProvider"
            android:authorities="com.vlille.checker.stations.provider.StationsProvider"
		/>
        
        <service android:name=".stations.service.StationsRetrieverService"/>
        
        <!-- Google Maps library -->
        <uses-library android:name="com.google.android.maps" />
    </application>
    
    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> 
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>